<header class="item flex flex-horizontal" role="banner">

    <a href="{{ .Site.BaseURL }}" alt="{{ .Site.Title }} logo" aria-label="logo">
        {{ readFile .Site.Params.logoSource | safeHTML }}
    </a>

    <nav>

        <a href="{{ .Site.BaseURL }}/">
            <h1>{{ .Site.Title }}</h1>
            <h2>{{ .Site.Params.subtitle }}</h1>
        </a>

        <ul>
            {{ range .Site.Menus.primary.ByWeight }}
            <li>
                <!-- nav-active if in section -->
                <a class='text-uppercase {{ if or ($.IsMenuCurrent "primary" .) ($.HasMenuCurrent "primary" .) }} nav-active {{ end }} nav-upper nav-link {{ if .Identifier }} text-{{ .Identifier }}{{ end }}'
                    href="{{ .URL }}">
                    {{ .Pre }}
                    {{ .Name }}
                </a>
            </li>
            {{ end }}
        </ul>

    </nav>

</header>
