<!-- Title -->

<h1 class="mx-0 mx-md-4">{{ .Title }}</h1>

<!-- Subheadings -->

<div class="mb-4 mb-md-5 meta">

    <!-- Time published -->

    {{ if .Params.Author }}
    <span class="date" title='{{ .Date.Format "Mon Jan 2 2006 15:04:05 MST" }}'>
        {{ .Date.Format  "Published Jan 2, 2006" }}
    </span>
    {{ else }}
    <span class="date" title='{{ .Date.Format "Mon Jan 2 2006 15:04:05 MST" }}'>
        {{ .Lastmod.Format  "Last updated Jan 2, 2006" }}
    </span>    
    {{ end }}

    <!-- Author -->

    {{ if .Params.Author }}
        <span class="author middot" title="{{ .Params.Author }}">
            {{ .Params.Author }}
        </span>
    {{ end }}

    <!-- Estimated reading time -->

    <span class="reading-time middot">
    {{ if .Params.Time }}
        &Tilde; {{ .Params.Time }}
    {{ else }}
        &Tilde; {{ i18n "reading_time" .ReadingTime }}
    {{ end }}
</span>

    <!-- Tags -->

    <div class="d-none d-md-inline tags">
        <ul class="list-unstyled d-inline">
            {{ range .Params.tags }}
                <li class="d-inline middot">
                    <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
                </li>
            {{ end }}
        </ul>
    </div>

</div>