<!DOCTYPE html>
<html lang='{{ .Site.Language }}'>

<head>
    <title>{{ block "title" . }}{{ .Title }} // {{ .Site.Title }}{{ end }}</title>
    <meta charset="utf-8">
    <meta name="referrer" content="no-referrer">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

    <link rel="canonical" href="{{ .Permalink }}">
    <meta name="description" content="{{ .Description | default .Site.Params.description }}">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="theme-color" content="{{ .Site.Params.ThemeColor }}" />

    <link rel="shortcut icon" href="{{ .Site.Params.faviconfile | absURL }}">
    <link href='{{ with .OutputFormats.Get "RSS" }}{{ .RelPermalink }}{{ end }}' rel="alternate"
        type="application/rss+xml" title="{{ .Site.Title }}" />

    <link rel="preconnect" href="https://cdnjs.cloudflare.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <meta property="og:site_name" content="{{ .Site.Title }}" />
    <meta property="og:locale" content="{{ .Site.LanguageCode }}" />
    <!-- <meta property="og:type" content="article" /> -->
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:title" content="{{ .Title | default .Site.Title }}" />
    <meta property="og:image" content="{{ .Params.meta_img | default .Site.Params.meta_img | absURL }}" />
    <meta property="og:description" content="{{ .Description | default .Site.Params.description }}" />

    <meta property="twitter:site" content="@{{ .Site.Params.twitter }}">
    <!-- <meta property="twitter:card" content="summary" /> -->
    <meta property="twitter:title" content="{{ .Title | default .Site.Title }}" />
    <meta property="twitter:image" content="{{ .Params.meta_img | default .Site.Params.meta_img | absURL }}" />
    <meta property="twitter:description" content="{{ .Description | default .Site.Params.description }}" />

    <!-- Style --> 
    {{ $options := (dict "targetPath" "css/style.css" "outputStyle" "compressed" "enableSourceMap" true)}} 
    {{ $styleMain := resources.Get "sass/main.scss" | toCSS $options | postCSS | minify | fingerprint }} 
    <link rel="stylesheet" href="{{ $styleMain.RelPermalink }}" >
</head>

<body>

    {{ partial "header" . }}

    {{ block "main" . }} {{ end }}

    {{ partial "footer" . }}

    {{ $jquery := resources.Get "vendor/js/jquery.min.js" }}
    {{ $popperjs := resources.Get "vendor/js/popper.min.js" }}
    {{ $bootstrap := resources.Get "vendor/js/bootstrap.min.js" }}
    {{ $js := slice $jquery $popperjs $bootstrap | resources.Concat "js/bundle.js" | resources.Minify }}

    <script src="{{$js.RelPermalink}}"></script>


    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"
        integrity="sha256-/BfiIkHlHoVihZdc6TFuj7MmJ0TWcWsMXkeDFwhi0zw=" crossorigin="anonymous"></script>
    {{ range .Site.Params.highlightjslanguages }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/{{.}}.min.js" defer></script>
    {{ end }}
    <script>
        window.addEventListener('load', function () {
            hljs.initHighlighting();
        }, true);
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/progressively/1.2.5/progressively.min.js"
        integrity="sha256-LvFVlLdfGI3WeEH+8Ni4kxLm02g2GlOfeGCGLXfRk/U=" crossorigin="anonymous"></script>
    <script>
        window.addEventListener('load', function () {
            progressively.init({ delay: 30, throttle: 50 });
        }, true);
    </script> -->

    {{ template "_internal/google_analytics_async.html" . }} -->

</body>

</html>