<!DOCTYPE html>
<html lang='{{ .Site.Language }}'>

<head>
    <title>{{ block "title" . }}{{ .Title }} // {{ .Site.Title }}{{ end }}</title>
    <meta charset="utf-8">
    <meta name="referrer" content="no-referrer">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

    <link rel="canonical" href="{{ .Permalink }}">
    <meta name="description" content="{{ .Description | default .Site.Params.description }}">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="theme-color" content="{{ .Site.Params.ThemeColor }}" />

    <link rel="shortcut icon" href="{{ .Site.Params.faviconfile | absURL }}">
    <link href='{{ with .OutputFormats.Get "RSS" }}{{ .RelPermalink }}{{ end }}' rel="alternate"
        type="application/rss+xml" title="{{ .Site.Title }}" />

    <link rel="preconnect" href="https://cdnjs.cloudflare.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">

    {{ template "_internal/opengraph.html" . }}
    {{ template "_internal/twitter_cards.html" . }}

</head>

<body>

    {{ partial "header" . }}

    {{ block "main" . }} {{ end }}

    {{ partial "footer" . }}

    {{ template "_internal/google_analytics_async.html" . }} -->

</body>

</html>
