{{ define "main" }}
    {{ partial "header" . }}

    <main class="content" role="main">
        <div class="container">

            <!-- Article -->

            <div class="row justify-content-center">

                <!-- Meta infromation -->

                <div class="col-sm-12 col-md-9">

                    {{ partial "single-meta" . }}

                </div>

                <!-- Content -->

                <div class="col-sm-12 col-md-9">

                    <div class="markdown">

                        {{ partial "content" . }}

                    </div>

                </div>

            </div>

            <!-- Call to Actions -->

            <div class="cta row justify-content-center">

                <div class="col-sm-12 col-md-9">

                    <!-- Share -->

                    {{ partial "single-share" . }}

                    <!-- Cite -->

                    {{ partial "single-cite" . }}

                </div>
            </div>

            <!-- Next/previous post -->
            
            {{ if .Site.Params.posts_navigation }}

                <div class="next cta row justify-content-center">

                    <div class="col-sm-12 col-md-9">
                    
                    {{ partial "single-section-nav" . }}
                    
                    </div>
                </div>
                
            {{ end }}

        </div>
    </main>

    {{ partial "footer" . }}
    
{{ end }}
