{{ define "main" }}
    {{ partial "header" . }}

    <main class="content" role="main">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-12 col-md-10">
                    <h1 class="mx-0 mx-md-4">{{ .Title }}</h1>
                    <div class="markdown">
                        {{ partial "content" . }}
                    </div>
                </div>
            </div>
        </div>
    </main>

    {{ partial "footer" . }}
{{ end }}
