$font-family-serif: Lucida Bright, Lucida Fax, Palatino, "Palatino Linotype", Palladio, "URW Palladio", serif;
$font-family-base:            $font-family-serif !default;

$body-bg: #000;
$body-color: #fff;

$theme-colors: (
  "primary": #0074d9,
  "danger": #ff4136
);

// $theme-colors: (
//   "primary":    ..,
//   "secondary":  ..,
//   "success":    ..,
//   "info":       ..,
//   "warning":    ..,
//   "danger":     ..,
//   "light":      ..,
//   "dark":       ..
// );

$enable-rounded: true;
$enable-shadows: true;
$enable-gradients: false;
$enable-grid-classes: true;
$enable-print-styles: true;

$spacer: 1rem;

