/* 
        _       _           _ 
       | |     | |         | |
   __ _| | ___ | |__   __ _| |
  / _` | |/ _ \| '_ \ / _` | |
 | (_| | | (_) | |_) | (_| | |
  \__, |_|\___/|_.__/ \__,_|_|
   __/ |                      
  |___/                       

 */
body {
    font-family: 
        "Raleway", -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, "Helvetica Neue", Arial,
        "Noto Sans", sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
        !important;
}

a,
.footer a,
.content a {
    color: #2196f3;
}

a:hover {
    color: #2a6496;
    transition: color .1s cubic-bezier(0.47, 0, 0.75, 0.72);
    -webkit-transition: color 0.1s cubic-bezier(0.47, 0, 0.75, 0.72);
    -moz-transition: color 0.1s cubic-bezier(0.47, 0, 0.75, 0.72);
    -ms-transition: color 0.1s cubic-bezier(0.47, 0, 0.75, 0.72);
    -o-transition: color 0.1s cubic-bezier(0.47, 0, 0.75, 0.72);
}



/* 
  _                    _           
 | |                  | |          
 | |__   ___  __ _  __| | ___ _ __ 
 | '_ \ / _ \/ _` |/ _` |/ _ \ '__|
 | | | |  __/ (_| | (_| |  __/ |   
 |_| |_|\___|\__,_|\__,_|\___|_|   
                                   
 */
.header .row {
    padding-bottom: 2rem;
    border-bottom: 1px solid rgba(0,0,0,.1)
}

.header a:hover {
    text-decoration: none;
}

.header .logo {
    width: 120px;
    max-height: 120px;
}

.header h1.name {
    color: #333333;
    font-size: 2.3rem;
    font-weight: 700;
    letter-spacing: -0.100rem;
    margin-bottom: 0;
}

.header h2.subname {
    color: #4C4C4C;
    font-size: 1.35rem;
    font-weight: 400;
    letter-spacing: .1rem;
}

.header ul.nav li a {
    color: #666666;
    font-size: 14px;
    padding: 3px 5px 0 5px;
}

.header ul.nav li:first-child a {
    padding-left: 2px;
}

.header ul.nav li:last-child a {
    padding-right: 2px;
}



/* 
                    _                
                   | |               
  _ __   __ ___   _| |__   __ _ _ __ 
 | '_ \ / _` \ \ / / '_ \ / _` | '__|
 | | | | (_| |\ V /| |_) | (_| | |   
 |_| |_|\__,_| \_/ |_.__/ \__,_|_|   
                                     
 */
.nav-upper {
    letter-spacing: -0.005rem;
    margin-right: -0.25rem;
}

.nav-lower {
    letter-spacing: 0.035rem;
    margin-right: 0.45rem;
}

.wf-active .nav-active {
    opacity: 1 !important;
    font-weight: 700;
}

@media (min-width: 767.98px) {

    .nav-upper {
        letter-spacing: 0.045rem;
        margin-right: 0.50rem;
    }
    
    .nav-lower {
        letter-spacing: 0.015rem;
        margin-right: 0.50rem;
    }

}

.text-github {
    font-weight: 300;
    color: #211f1f !important;
}

.text-twitter {
    color: #00aced !important;
}

.text-linkedin {
    color: #0077b5 !important;
}



/* 
                  _             _   
                 | |           | |  
   ___ ___  _ __ | |_ ___ _ __ | |_ 
  / __/ _ \| '_ \| __/ _ \ '_ \| __|
 | (_| (_) | | | | ||  __/ | | | |_ 
  \___\___/|_| |_|\__\___|_| |_|\__|
                                    
 */
.content .page-heading {
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: -0.005rem;
    text-transform: capitalize;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: #333333;
    margin-bottom: 16px;
}

.content .meta {
    font-size: 14px;
    color: #666666;
}

.content .meta a {
    text-decoration: none;
}

.content .middot:before {
    font-size: 6px;
    margin: 0 6px;
    vertical-align: middle;
    content: "•";
}

.content .tags ul li {
    transition: opacity 0.1s cubic-bezier(0.47, 0, 0.75, 0.72);
    -webkit-transition: opacity 0.1s cubic-bezier(0.47, 0, 0.75, 0.72);
    -moz-transition: opacity 0.1s cubic-bezier(0.47, 0, 0.75, 0.72);
    -ms-transition: opacity 0.1s cubic-bezier(0.47, 0, 0.75, 0.72);
    -o-transition: opacity 0.1s cubic-bezier(0.47, 0, 0.75, 0.72);
}

.content .tags ul li:hover {
    opacity: 0.7;
}

.content .tags ul li a {
    color: #666666;
}

.content .markdown {
    font-family: "Merriweather";
    font-size: 1.2rem;
    line-height: 2.1em;
    color: #313537;
    padding-bottom: 0rem;
    margin-bottom: 1rem;
}

.markdown h2 {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.markdown h3 {
    margin-top: 1rem;
    margin-bottom: 0.75rem;
}

.markdown h4 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

@media (min-width: 1023.98px) {

    .content .markdown {
        font-size: 1.4rem;
    }

    .markdown h2 {
        font-size: 1.6em;
    }
    
    .markdown h3 {
        font-size: 1.4em;
    }
    
    .markdown h4 {
        font-size: 1.3em;
    }

}

.content twitterwidget {
    margin: auto;
}

.content .meta,
.content .markdown h1,
.content .markdown h2,
.content .markdown h3,
.content .markdown h4,
.content .markdown h5,
.content .markdown h6,
.content .markdown p,
.content .markdown ul,
.content .markdown ol,
.content .markdown dl,
.content .markdown blockquote {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {

    html {
        font-size: 0.8rem;
    }

    .content .meta,
    .content .markdown h1,
    .content .markdown h2,
    .content .markdown h3,
    .content .markdown h4,
    .content .markdown h5,
    .content .markdown h6,
    .content .markdown p,
    .content .markdown ul,
    .content .markdown ol,
    .content .markdown dl,
    .content .markdown blockquote {
        margin-left: 0;
        margin-right: 0;
    }
    
}

.content .markdown code,
.content .markdown pre {
    font-family: "Menlo", monospace;
    font-size: 0.98rem;
    /* background-color: #f7f7f7; */
}

.content .markdown code {
    /* enclosed by single backtick (`) */
    padding: 0.15em 0.5em;
    border-radius: 2px;
}

.content .markdown pre {
    /* Hugo specific: consider using the 'highlight' shortcode */
    display: block;
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 1rem;
    line-height: 1.5em;
    white-space: pre;
    word-break: break-all;
    word-wrap: break-word;
}

.content .markdown pre code {
    /* enclosed by 4 backticks (````) */
    padding: 0;
    font-size: 0.9rem;
}

.content .markdown blockquote {
    padding: 0.5rem 0.5rem;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    color: #7a7a7a;
    border-left: 0.25rem solid #e5e5e5;
}

.content .markdown blockquote p:last-child {
    margin-bottom: 0;
}

.content .markdown figure {
    background: #fff;
}

.content .see-more {
    font-size: 0.9em;
    color: #313537;
}

.content .see-more:hover {
    color: #666;
}

.content .groupby {
    list-style: none;
    margin-top: 1em;
}

.content .post-item {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
}

.content .post-item .meta {
    color: #666666;
    display: block;
    font-size: 14px;
    min-width: 100px;
}

.content .navigation .icon {
    width: 16px;
    height: 16px;
}



/* 
   __            _            
  / _|          | |           
 | |_ ___   ___ | |_ ___ _ __ 
 |  _/ _ \ / _ \| __/ _ \ '__|
 | || (_) | (_) | ||  __/ |   
 |_| \___/ \___/ \__\___|_|   
                              
 */
.footer .row {
    padding-top: 2rem;
    border-top: 1px solid rgba(0,0,0,.1)
}

.footer a {
    font-size: 14px;
    opacity: 0.6;
    display: inline-block;
    transition: opacity 0.1s cubic-bezier(0.47, 0, 0.75, 0.72);
    -webkit-transition: opacity 0.1s cubic-bezier(0.47, 0, 0.75, 0.72);
    -moz-transition: opacity 0.1s cubic-bezier(0.47, 0, 0.75, 0.72);
    -ms-transition: opacity 0.1s cubic-bezier(0.47, 0, 0.75, 0.72);
    -o-transition: opacity 0.1s cubic-bezier(0.47, 0, 0.75, 0.72);
    text-decoration: none;
}

.footer a:first-child {
    margin-left: 0;
}

.footer a:last-child {
    margin-right: 0;
}

.footer a:hover {
    opacity: 0.8;
}

.footer a .icon {
    width: 16px;
    height: 16px;
}

.footer span.title {
    font-size: 14px;
    color: #666;
}



/* 
   __          _      
  / _|        | |     
 | |_ __ _  __| | ___ 
 |  _/ _` |/ _` |/ _ \
 | || (_| | (_| |  __/
 |_| \__,_|\__,_|\___|
                      
 */
.name,
.subname,
h1,
.nav-upper,
.nav-lower,
.meta,
.markdown,
.best-posts,
.posts,
.footer,
.nav-active,
.text-behind-the-scenes {
    opacity: 0;
    transition: opacity 0.075s ease-out;
}

/* Load subname with name */
.wf-raleway-n7-active .wf-raleway-n4-active .name,
.wf-raleway-n4-active .subname,
/* Content */
.wf-raleway-n4-active h1,
.wf-raleway-n4-active .meta,
/* Navigation */
.wf-active .nav-upper,
/* Social */
.wf-raleway-n4-active .nav-lower {
    opacity: 1;
}

.wf-active .text-behind-the-scenes {
    opacity: 0;
}

.wf-active .text-behind-the-scenes:hover {
    opacity: .5;    
    -o-transition: opacity .4s ease-out;
    -ms-transition: opacity .4s ease-out;
    -moz-transition: opacity .4s ease-out;
    -webkit-transition: opacity .4s ease-out;
    transition: opacity .4s ease-out;
}

.wf-active .markdown,
.wf-active .best-posts,
.wf-active .posts,
.wf-active .footer {
    opacity: 1;
}