<li class="pl-3 post-item">
    <span class="meta">{{ .Date.Format  "Jan 02, 2006" }}</span>
    <span></span>
    {{ if .Params.Talk }}
        <a href="{{ .Site.BaseURL }}/talk/proposal/{{ .Params.Talk }}/">
            <span>{{ .Title }}</span>
        </a> 
    {{ end }}

    {{ if .Params.web }}<a class="d-lg-block d-none" href="{{ .Params.web }}"><span class="middot">website</span></a>{{ end }}
    {{ if .Params.video }}<a class="d-lg-block d-none"  href="{{ .Params.video }}"><span class="middot">video</span></a>{{ end }}
    {{ if .Params.slides }}<a class="d-lg-block d-none" href="{{ .Params.slides }}"><span class="middot">slides</span></a>{{ end }}

</li>
