{{ define "main" }}

    <div class="my-4 my-md-5 header">
        <div class="container">
            {{ partial "header/profile" . }}
        </div>
    </div>

    <main class="content" role="main">
        <div class="container">
            
            <div class="text-center">

                <h1 class="display-ld-1 display-3">¯\_(ツ)_/¯</h1>
                <h2 class="lead">The page you were looking for does not exist.</h2>
                
                <p>If you believe this is a mistake, please fill out
                    <a href="{{ .Site.Params.issueUrl }}">an issue</a>.
                </p>

                <div id="game-of-life" class="img-fluid my-3"></div>

                <a href="/">{{ i18n "page_not_found_link" }}</a>.

            </div>

        </div>
    </main>
    
    <script src="{{ .Site.BaseURL }}/js/gol.min.js"></script>

    {{ partial "footer" . }}
{{ end }}
