<!-- Default -->
<meta charset="utf-8">
<meta name="referrer" content="no-referrer">

<!-- Meta -->
<link rel="canonical" href="{{ .Permalink }}">
<title>{{ block "title" . }}{{ .Title }} // {{ .Site.Title }}{{ end }}</title>
<meta name="description" content="{{ .Description | default .Site.Params.description }}">

<!-- Mobile -->
<meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, shrink-to-fit=no">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">

<!-- Custom -->
<meta name="theme-color" content="#121212" />
<link rel="shortcut icon" href="{{ if .Site.Params.faviconfile }}{{ .Site.Params.faviconfile | absURL }}{{ else }}{{ .Site.BaseURL }}/img/favicon.ico{{ end }}">
<link href='{{ with .OutputFormats.Get "RSS" }}{{ .RelPermalink }}{{ end }}' rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />

<!-- Optimisations -->
<link rel="preconnect" href="https://cdnjs.cloudflare.com">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="preconnect" href="https://fonts.googleapis.com">

<!-- Open Graph -->
<meta property="og:site_name" content="{{ .Site.Title }}" />
<meta property="og:locale" content="{{ .Site.LanguageCode }}" />
<meta property="og:type" content="article" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:title" content="{{ if .Title }}{{ .Title }}{{ else }}{{ .Site.Title }}{{ end }}" />
<meta property="og:image" content="{{ .Params.meta_img | default .Site.Params.meta_img | absURL }}" />
<meta property="og:description" content="{{ .Description | default .Site.Params.description }}" />

<!-- Twitter -->
<meta property="twitter:site" content="@{{ .Site.Params.twitter }}">
<meta property="twitter:title" content="{{ .Title | default .Site.Title }}" />
<meta property="twitter:image" content="{{ .Params.meta_img | default .Site.Params.meta_img | absURL }}" />
<meta property="twitter:card" content="summary" />
<meta property="twitter:description" content="{{ .Description | default .Site.Params.description }}" />

